jira==1.0.3
GitPython>=1.0.0
arrow>=0.5.4
lazy>=1.2
mock>=1.2
responses>=0.4.0
requests>=2.7.0
pyyaml>=3.11
-e git+https://github.com/alfred82santa/configure.git@173ea9b4257a988dd0df604505a09b6778d9df54#egg=configure-master
-e git+https://github.com/lins05/slackbot.git@c1c2e97a8818abaf8f4bc2c2cb60f8bc55a888e8#egg=slackbot-develop
coverage>=3.7.1
pytest>=2.9.0
pytest-flask>=0.10.0
Flask>=0.10.1
Wand>=0.4.2
